<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <title>IMGuess</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">


  <body>
  <div class="bodycover">
    <div th:insert="header :: header">...</div>

    <div class = "overskrift">Made by...</div>
    <div class = "first5">
      <div class="gallery" id = "first">
        <img src="images/1.jpg" alt="Nemanja Babic" width="50" height="75">
        <div class="desc">Nemanja Babic Multiplayer & <br> HTML, JS & CSS <br> <br> </div>
      </div>

      <div class="gallery">
        <img src="images/2.jpg" alt="Odin bjørnebo" width="50" height="75">
        <div class="desc">Odin Bjornebo Documentation & Database <br> <br> </div>
      </div>

      <div class="gallery">
        <img src="images/4.jpg" alt="Steffen Andre Trovik" width="50" height="75">
        <div class="desc">Steffen Andre Trovik Team-leder  Singleplayer & Routing</div>
      </div>

      <div class="gallery">
        <img src="images/3.jpg" alt="Sindre Skavhellen" width="50" height="75">
        <div class="desc">Sindre Skavhellen Documentation & GIT/Team leading <br> <br> </div>
      </div>

      <div class="gallery">
        <img src="images/5.jpg" alt="Awalle Mohamed" width="50" height="75">
        <div class="desc">Awalle Mohamed Database & <br> Player class <br> <br> </div>
      </div>
    </div>


    <div class="secound5">

        <div class="gallery">
            <img src="images/6.jpg" alt="Tor Haakon Carlsson" width="50" height="75">
            <div class="desc">Tor Haakon Carlsson Leaderboard <br> <br> </div>
        </div>

        <div class="gallery">
          <img src="images/8.jpg" alt="Espen Eigestad" width="50" height="75">
          <div class="desc">Espen Eigestad Database & <br> Startdata</div>
        </div>

        <div class="gallery">
          <img src="images/7.jpg" alt="Andrea Esposito" width="50" height="75">
          <div class="desc">Andrea Esposito Multiplayer & <br> HTML, JS & CSS</div>
        </div>

        <div class="gallery">
            <img src="images/9.jpg" alt="Sigurd  Hansen" width="50" height="75">
            <div class="desc">Sigurd G. Hansen Machinelearning & <br> research </div>
        </div>

        <div class="gallery">
            <img src="images/10.jpg" alt="Marthe Dybdahl" width="50" height="75">
            <div class="desc">Marthe Dybdahl Styling & <br> HTML & CSS</div>
        </div>

    </div>
</div>
</body>

</html>
